h1, h3 {
  text-align: center;
}
table {
  margin: 10px auto;
}
.auto {
  text-align: center;
}
ul.btns {
  display: flex;
  width: 300px;
  margin: 10px auto;
  padding: 0;
}
ul.btns li {
  display: block;
}
p.density {
  text-align: center;
}
td {
  border: 1px solid;
  width: 20px;
  height: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 11px;
}
.bomb {
  background-color: indianred;
}
.open {
  background-color: #61dafb;
}
.markedBomb {
  background-color: chocolate;
}
.nextClick {
  border: 3px dashed mediumseagreen;
}
.safeSpace {
  border: 6px dashed deeppink;
}
#table-container {
  align-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
